/* ======================================================================= */
/* HEADER
/* ======================================================================= */
header {
    text-align: center;
    background-color: #111;
    color: #fff;
}

.header {
    text-align: center;
    font-size: 60px;
    font-weight: 900;
    letter-spacing: -2px;
    line-height: 80px;
}

.header small {
    color: rgba(255, 255, 255, 0.5);
    display: block;
    font-size: 22px;
    line-height: 32px;
    font-weight: 100;
    letter-spacing: -1px;
    padding-top: 5px;
}

#stock-tickers {
    min-height: 540px;
}

/* ======================================================================= */
/* UTILITIES
/* ======================================================================= */

.row-margin-small {
    margin-bottom: 20px;
}

.section-margins {
    margin-bottom: 30px;
}

.animate {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;

    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}
