@import url("https://fonts.googleapis.com/css?family=Lato:400,700,700italic,900,400italic,300");

@font-face {
    font-family: 'Flat-UI-Icons';
    src: url('fonts/Flat-UI-Icons.eot');
    src: url('fonts/Flat-UI-Icons.eot?#iefix') format('embedded-opentype'), url('fonts/Flat-UI-Icons.woff') format('woff'), url('fonts/Flat-UI-Icons.ttf') format('truetype'), url('fonts/Flat-UI-Icons.svg#Flat-UI-Icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
    font-family: 'Flat-UI-Icons', serif;
    content: attr(data-icon);
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="fui-"] {
*/

.fui-chat:before {
    content: "\e013";
}

.fui-user:before {
    content: "\e01d";
}

/* 62px */
/* 52px */
/* 40px */
/* 29px */
/* 28px */
/* 24px */

/* LOGO */

.logo small {
    color: rgba(255, 255, 255, 0.30000000000000004);
    display: block;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: -1px;
    padding-top: 5px;
}

body {
    color: #34495e;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    line-height: 1.231;
}

input,
button,
select,
textarea {
    font-family: "Lato", sans-serif;
    font-size: 14px;
}

a {
    color: inherit;
    text-decoration: underline;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    -webkit-backface-visibility: hidden;
}

a:hover {
    color: #587595;
    text-decoration: none;
}

h1 {
    font-size: 32px;
    font-weight: 900;
}

h2 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 2px;
}

h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 4px;
    margin-top: 2px;
}

h4 {
    font-size: 18px;
    font-weight: 500;
    margin-top: 4px;
}

h5 {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}

h6 {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
}

.btn {
    border: none;
    background: #bdc3c7;
    color: #ffffff;
    padding: 9px 12px 10px;
    line-height: 22px;
    text-decoration: none;
    text-shadow: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    -webkit-backface-visibility: hidden;
}

.btn.btn-large {
    font-size: 17px;
    /* 17px */

    line-height: 20px;
    padding: 12px 18px 13px;
}

.btn.btn-large > [class^="fui-"] {
    top: 0;
}

.btn.btn-primary {
    background-color: #1abc9c;
}

.btn.btn-info {
    background-color: #3498db;
}

.btn > [class^="fui-"] {
    margin: 0 4px;
    position: relative;
    top: 1px;
    vertical-align: top;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.btn-toolbar .btn:first-child {
    -webkit-border-radius: 6px 0 0 6px;
    -moz-border-radius: 6px 0 0 6px;
    border-radius: 6px 0 0 6px;
}

.btn-toolbar .btn:last-child {
    -webkit-border-radius: 0 6px 6px 0;
    -moz-border-radius: 0 6px 6px 0;
    border-radius: 0 6px 6px 0;
}

.btn-toolbar .btn > [class^="fui-"] {
    font-size: 16px;
    top: 0;
}

.btn-group > .btn {
    border-radius: 0;
    text-align: center;
}

.btn-group > .btn:active + .btn,
.btn-group > .btn.active + .btn {
    border-left-color: transparent;
}

.btn-group > .btn:first-of-type {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.btn-group > .btn:last-of-type {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.btn-group > .btn + .btn {
    margin-left: 0;
}

.navbar {
}

.navbar .nav {
    margin-right: 0;
}

.navbar .nav > li {
    position: relative;
}

.navbar .nav > li:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
    z-index: 100;
    -webkit-transform: scale(1, 1);
    display: block \9;
}

.navbar .nav > li.active > a,
.navbar .nav > li.active > a:hover,
.navbar .nav > li.active > a:focus {
    background: none;
    color: #2ECC71;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.navbar .nav > li > ul {
    padding-top: 13px;
    top: 80%;
}

.navbar .nav > li > ul:before {
    content: "";
    border-style: solid;
    border-width: 0 9px 9px 9px;
    border-color: transparent transparent #34495e transparent;
    height: 0;
    position: absolute;
    left: 15px;
    top: 5px;
    width: 0;
    -webkit-transform: rotate(360deg);
}

.navbar .nav > li > ul li:hover ul {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    visibility: visible;
    display: block \9;
}

.navbar .nav > li > ul li ul {
    left: 100%;
}

.navbar .nav > li > a {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    padding: 29px 20px 27px;
    text-shadow: none;
    -webkit-transition: background-color .25s, color .25s, border-bottom-color .25s;
    -moz-transition: background-color .25s, color .25s, border-bottom-color .25s;
    -o-transition: background-color .25s, color .25s, border-bottom-color .25s;
    transition: background-color .25s, color .25s, border-bottom-color .25s;
    -webkit-backface-visibility: hidden;
}

.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
    color: #2ECC71;
}

.navbar .nav > li > a[class*="fui-"] {
    font-size: 24px;
    font-weight: normal;
}

.navbar .nav > li > a > [class*="fui-"] {
    font-size: 24px;
    margin: -4px 0 0;
    position: relative;
    top: 4px;
}

.navbar .nav > li > a > [class*="fui-"] + * {
    margin-left: 12px;
}

.navbar .nav > li:first-child > a {
    -webkit-border-radius: 0 0 0 6px;
    -moz-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.navbar .nav ul {
    border-radius: 4px;
    left: 0;
    list-style-type: none;
    margin-left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 234px;
    z-index: -100;
    -webkit-transform: scale(1, 0.99);
    -webkit-transform-origin: 0 0;
    visibility: hidden;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
    -webkit-backface-visibility: hidden;
}

.navbar .nav ul ul {
    left: 95%;
    padding-left: 5px;
}

.navbar .nav ul li {
    background-color: #34495e;
    padding: 0 3px 3px;
    position: relative;
}

.navbar .nav ul li:first-child {
    border-radius: 6px 6px 0 0;
    padding-top: 3px;
}

.navbar .nav ul li:last-child {
    border-radius: 0 0 6px 6px;
}

.navbar .nav ul li.active > a,
.navbar .nav ul li.active > a:hover,
.navbar .nav ul li.active > a:focus {
    background-color: #1abc9c;
    color: #ffffff;
    padding-left: 9px;
    padding-right: 9px;
}

.navbar .nav ul li.active + li > a {
    padding-left: 9px;
    padding-right: 9px;
}

.navbar .nav ul a {
    border-radius: 2px;
    color: #ffffff;
    display: block;
    font-size: 14px;
    padding: 6px 9px;
    text-decoration: none;
}

.navbar .nav ul a:hover {
    background-color: #1abc9c;
}

.navbar-inner {
    background: transparent;
    border: none;
    padding-left: 0;
    padding-right: 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.navbar-inverse .navbar-inner {
    background-color: #34495e;
}

.navbar-inverse .nav > li:first-child.active > a {
    padding-left: 20px;
}

.navbar-inverse .nav > li:first-child > a {
    border-left: none;
}

.navbar-inverse .nav > li.active > a,
.navbar-inverse .nav > li.active > a:hover,
.navbar-inverse .nav > li.active > a:focus {
    background-color: #1abc9c;
    border-bottom-color: #16a085;
    border-left: none;
    color: #ffffff;
    padding-left: 22px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.navbar-inverse .nav > li.active + li > a {
    border-left: none;
    padding-left: 22px;
}

.navbar-inverse .nav > li > a {
    font-size: 16px;
    /* 16px */

    border-bottom: 2px solid #2c3e50;
    border-left: 2px solid #2c3e50;
    color: #ffffff;
    padding: 16px 20px 15px;
}

.navbar-inverse .nav.pull-right > li > a {
    border-radius: 0 6px 6px 0;
}

.navbar .nav li.dropdown .dropdown-menu > li > a {
    border-radius: 3px;
    color: #ffffff;
    padding: 6px 8px 8px;
}

.select.select-block .btn {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.select .btn {
    width: 220px;
}

.select .btn .dropdown-menu dt {
    cursor: default;
    display: block;
    padding: 3px 20px;
}

.select .btn .dropdown-menu li:not(.disabled) > a:hover small {
    color: rgba(255, 255, 255, 0.004);
}

.select .btn .dropdown-menu li > a {
    min-height: 20px;
}

.select .btn .dropdown-menu li small {
    padding-left: 0.5em;
}

.select .btn .dropdown-menu li > dt small {
    font-weight: normal;
}

input[disabled],
input[readonly],
textarea[disabled],
textarea[readonly] {
    background-color: #f4f6f6;
    border-color: #d5dbdb;
    color: #d5dbdb;
    cursor: default;
}

textarea {
    height: auto;
    font-size: 15px;
    /* 15px */

    line-height: 24px;
    padding: 5px 11px;
    text-indent: 0;
}

.row-fluid textarea {
    height: auto;
    width: 100% !important;
}

textarea[class*="span"] {
    width: 100% !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.checkbox input,
.radio input {
    outline: none !important;
    display: none;
}

.tagsinput input {
    background: transparent;
    border: none;
    color: #34495e;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    padding: 0 0 0 5px;
    outline: 0;
    margin: 0 5px 5px 0;
    width: 12px;
}

.pager li:first-child > a,
.pager li:first-child > span {
    border-left: none;
    -webkit-border-radius: 6px 0 0 6px;
    -moz-border-radius: 6px 0 0 6px;
    border-radius: 6px 0 0 6px;
}

.pager li > a,
.pager li > span {
    background: none;
    border: none;
    border-left: 2px solid #2c3e50;
    color: #ffffff;
    padding: 9px 15px 10px;
    text-decoration: none;
    white-space: nowrap;
    -webkit-border-radius: 0 6px 6px 0;
    -moz-border-radius: 0 6px 6px 0;
    border-radius: 0 6px 6px 0;
}

.pager li > a:hover,
.pager li > span:hover,
.pager li > a:focus,
.pager li > span:focus {
    background-color: #2c3e50;
}

.pager li > a:active,
.pager li > span:active {
    background-color: #2c3e50;
}

.pager li > a [class*="fui-"] + span,
.pager li > span [class*="fui-"] + span {
    margin-left: 8px;
}

.pager li > a span + [class*="fui-"],
.pager li > span span + [class*="fui-"] {
    margin-left: 8px;
}

.pagination ul {
    background: #d6dbdf;
    color: #ffffff;
    vertical-align: top;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.pagination ul li {
    display: inline-block;
    margin-right: -3px;
    vertical-align: top;
}

.pagination ul li.active > a,
.pagination ul li.active > span {
    background-color: #1abc9c;
    color: #ffffff;
}

.pagination ul li.active.previous > a,
.pagination ul li.active.next > a,
.pagination ul li.active.previous > span,
.pagination ul li.active.next > span {
    margin: 0;
}

.pagination ul li.active.previous > a,
.pagination ul li.active.next > a,
.pagination ul li.active.previous > span,
.pagination ul li.active.next > span,
.pagination ul li.active.previous > a:hover,
.pagination ul li.active.next > a:hover,
.pagination ul li.active.previous > span:hover,
.pagination ul li.active.next > span:hover,
.pagination ul li.active.previous > a:focus,
.pagination ul li.active.next > a:focus,
.pagination ul li.active.previous > span:focus,
.pagination ul li.active.next > span:focus {
    background-color: #1abc9c;
    color: #ffffff;
}

.pagination ul li:first-child {
    -webkit-border-radius: 6px 0 0 6px;
    -moz-border-radius: 6px 0 0 6px;
    border-radius: 6px 0 0 6px;
}

.pagination ul li:first-child > a,
.pagination ul li:first-child > span {
    -webkit-border-radius: 6px 0 0 6px;
    -moz-border-radius: 6px 0 0 6px;
    border-radius: 6px 0 0 6px;
}

.pagination ul li:first-child.previous + li > a,
.pagination ul li:first-child.previous + li > span {
    border-left-width: 5px;
}

.pagination ul li:first-child > a,
.pagination ul li:first-child > span {
    border-left: none;
}

.pagination ul li:last-child {
    margin-right: 0;
    -webkit-border-radius: 0 6px 6px 0;
    -moz-border-radius: 0 6px 6px 0;
    border-radius: 0 6px 6px 0;
}

.pagination ul li:last-child > a,
.pagination ul li:last-child > span,
.pagination ul li:last-child > a:hover,
.pagination ul li:last-child > span:hover,
.pagination ul li:last-child > a:focus,
.pagination ul li:last-child > span:focus {
    -webkit-border-radius: 0 6px 6px 0;
    -moz-border-radius: 0 6px 6px 0;
    border-radius: 0 6px 6px 0;
}

.pagination ul li.previous > a,
.pagination ul li.next > a,
.pagination ul li.previous > span,
.pagination ul li.next > span {
    background: transparent;
    border: none;
    border-right: 2px solid #e4e7ea;
    font-size: 16px;
    /* 16px */

    margin: 0 9px 0 0;
    padding: 12px 17px;
    -webkit-border-radius: 6px 0 0 6px;
    -moz-border-radius: 6px 0 0 6px;
    border-radius: 6px 0 0 6px;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.pagination ul li.previous > a,
.pagination ul li.next > a,
.pagination ul li.previous > span,
.pagination ul li.next > span,
.pagination ul li.previous > a:hover,
.pagination ul li.next > a:hover,
.pagination ul li.previous > span:hover,
.pagination ul li.next > span:hover,
.pagination ul li.previous > a:focus,
.pagination ul li.next > a:focus,
.pagination ul li.previous > span:focus,
.pagination ul li.next > span:focus {
    border-color: #e4e7ea !important;
}

.pagination ul li.next > a,
.pagination ul li.next > span {
    border-left: 2px solid #e4e7ea;
    border-right: none;
    margin: 0;
    -webkit-border-radius: 0 6px 6px 0;
    -moz-border-radius: 0 6px 6px 0;
    border-radius: 0 6px 6px 0;
}

.pagination ul li.active > a,
.pagination ul li.active > span {
    background-color: #ffffff;
    border-color: #ffffff;
    border-width: 2px !important;
    color: #d6dbdf;
    margin: 10px 5px 9px;
}

.pagination ul li.active > a:hover,
.pagination ul li.active > span:hover,
.pagination ul li.active > a:focus,
.pagination ul li.active > span:focus {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #d6dbdf;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.pagination ul li > a,
.pagination ul li > span {
    background: #ffffff;
    border: 5px solid #d6dbdf;
    color: #ffffff;
    line-height: 16px;
    min-height: 17px;
    outline: none;
    padding: 0 4px;
    margin: 7px 2px 6px;
    text-align: center;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    -webkit-transition: background 0.2s ease-out, border-color 0s ease-out, color 0.2s ease-out;
    -moz-transition: background 0.2s ease-out, border-color 0s ease-out, color 0.2s ease-out;
    -o-transition: background 0.2s ease-out, border-color 0s ease-out, color 0.2s ease-out;
    transition: background 0.2s ease-out, border-color 0s ease-out, color 0.2s ease-out;
    -webkit-backface-visibility: hidden;
}

.pagination ul li > a:hover,
.pagination ul li > span:hover,
.pagination ul li > a:focus,
.pagination ul li > span:focus {
    background-color: #1abc9c;
    border-color: #1abc9c;
    color: #ffffff;
    -webkit-transition: background 0.2s ease-out, border-color 0.2s ease-out, color 0.2s ease-out;
    -moz-transition: background 0.2s ease-out, border-color 0.2s ease-out, color 0.2s ease-out;
    -o-transition: background 0.2s ease-out, border-color 0.2s ease-out, color 0.2s ease-out;
    transition: background 0.2s ease-out, border-color 0.2s ease-out, color 0.2s ease-out;
    -webkit-backface-visibility: hidden;
}

.pagination ul li > a:active,
.pagination ul li > span:active {
    background-color: #16a085;
    border-color: #16a085;
    color: #ffffff;
}

.pagination > .btn.previous [class*="fui-"],
.pagination > .btn.next [class*="fui-"] {
    font-size: 16px;
    margin-left: -2px;
    margin-top: -2px;
}

.pagination > .btn.next [class*="fui-"] {
    margin-right: -2px;
    margin-left: 4px;
}

.dropdown-menu li:first-child dt + a {
    border-radius: 0;
}

.dropdown-menu li:first-child > a {
    border-radius: 6px 6px 0 0;
    padding-top: 8px;
}

.dropdown-menu li:last-child > a {
    border-radius: 0 0 6px 6px;
    padding-bottom: 10px;
}

.dropdown-menu li > a {
    color: rgba(52, 73, 94, 0.75);
    padding: 6px 15px 8px;
    text-decoration: none;
    *zoom: 1;
    -webkit-transition: background-color 0.25s;
    -moz-transition: background-color 0.25s;
    -o-transition: background-color 0.25s;
    transition: background-color 0.25s;
    -webkit-backface-visibility: hidden;
}

.dropdown-menu li > a:before,
.dropdown-menu li > a:after {
    display: table;
    content: "";
}

.dropdown-menu li > a:after {
    clear: both;
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:active,
.dropdown-menu li > a:focus {
    background: #e1e4e7;
    color: inherit;
    outline: none;
}

.dropdown-menu li > a:before {
    float: right;
    margin-top: 3px;
}

.dropdown-menu li dt {
    font-weight: 300;
    margin-bottom: 3px;
    margin-top: 12px;
    padding: 0 15px;
}

.navbar-fixed-bottom .nav > li > ul:before {
    border-bottom: none;
    border-top: 9px outset #34495e;
    bottom: 4px;
    top: auto;
}

.dropdown-inverse li {
    margin: 0 4px -2px;
}

.dropdown-inverse li:first-child > a,
.dropdown-inverse li:last-child > a {
    border-radius: 2px;
    padding-bottom: 7px;
    padding-top: 5px;
}

.dropdown-inverse li:first-child dt + a,
.dropdown-inverse li:last-child dt + a {
    border-radius: 2px;
}

.dropdown-inverse li.active > a,
.dropdown-inverse li.selected > a {
    background: #1abc9c;
    color: #ffffff;
    position: relative;
    z-index: 1;
}

.dropdown-inverse li dt {
    padding-left: 11px;
    padding-right: 11px;
}

.dropdown-inverse li > a {
    border-radius: 2px;
    color: #ffffff;
    padding: 5px 11px 7px;
}

.dropdown-inverse li > a:hover,
.dropdown-inverse li > a:active,
.dropdown-inverse li > a:focus {
    background: #2c3e50;
}

/* ============================================================
 * bootstrapSwitch v1.3 by Larentis Mattia @spiritualGuru
 * http://www.larentis.eu/switch/
 * ============================================================
 * Licensed under the Apache License, Version 2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 * ============================================================ */

.has-switch.deactivate label,
.has-switch.deactivate span {
    cursor: default !important;
}

.has-switch > div {
    width: 162%;
    position: relative;
    top: 0;
}

.has-switch > div.switch-off label {
    background-color: #7f8c9a;
    border-color: #bdc3c7;
    -webkit-box-shadow: -1px 0 0 rgba(255, 255, 255, 0.5);
    -moz-box-shadow: -1px 0 0 rgba(255, 255, 255, 0.5);
    box-shadow: -1px 0 0 rgba(255, 255, 255, 0.5);
}

.has-switch > div.switch-on label {
    background-color: #1abc9c;
}

.has-switch input[type=checkbox] {
    display: none;
}

.has-switch span {
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    float: left;
    height: 29px;
    line-height: 19px;
    margin: 0;
    padding-bottom: 6px;
    padding-top: 5px;
    position: relative;
    text-align: center;
    width: 50%;
    z-index: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: 0.25s ease-out;
    -moz-transition: 0.25s ease-out;
    -o-transition: 0.25s ease-out;
    transition: 0.25s ease-out;
    -webkit-backface-visibility: hidden;
}

.has-switch span.switch-right [class*="fui-"] {
    text-indent: 0;
}

.has-switch label {
    border: 4px solid #34495e;
    border-radius: 50%;
    float: left;
    height: 21px;
    margin: 0 -15px 0 -14px;
    padding: 0;
    position: relative;
    vertical-align: middle;
    width: 21px;
    z-index: 100;
    -webkit-transition: 0.25s ease-out;
    -moz-transition: 0.25s ease-out;
    -o-transition: 0.25s ease-out;
    transition: 0.25s ease-out;
    -webkit-backface-visibility: hidden;
}

.switch-square > div.switch-off label {
    border-color: #7f8c9a;
    border-radius: 6px 0 0 6px;
}

.switch-square span.switch-left [class*="fui-"] {
    text-indent: -10px;
}

.switch-square span.switch-right [class*="fui-"] {
    text-indent: 5px;
}

.switch-square label {
    border-radius: 0 6px 6px 0;
    border-color: #1abc9c;
}

.share {
    background-color: #eff0f2;
    position: relative;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.share:before {
    content: "";
    border-style: solid;
    border-width: 0 9px 9px 9px;
    border-color: transparent transparent #eff0f2 transparent;
    height: 0;
    position: absolute;
    left: 23px;
    top: -9px;
    width: 0;
    -webkit-transform: rotate(360deg);
}

.share ul {
    list-style-type: none;
    margin: 0;
    padding: 15px;
}

.share li {
    padding-top: 11px;
    *zoom: 1;
}

.share li:before,
.share li:after {
    display: table;
    content: "";
}

.share li:after {
    clear: both;
}

.share li:first-child {
    padding-top: 0;
}

.share .btn {
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
}

.palette {
    color: #ffffff;
    margin: 0;
    padding: 15px;
}

.palette dt {
    display: block;
    font-weight: 500;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.palette dd {
    font-weight: 200;
    margin-left: 0;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.palette-peter-river {
    background-color: #3498db;
}

.palette-amethyst {
    background-color: #9b59b6;
}

.palette-sun-flower {
    background-color: #f1c40f;
}

.palette-orange {
    background-color: #f39c12;
}

.palette-silver {
    background-color: #bdc3c7;
}

.palette-paragraph span {
    color: #bdc3c7;
}

.tile {
    background-color: #eff0f2;
    border-radius: 6px;
    padding: 14px;
    position: relative;
    text-align: center;
}

.tile p {
    font-size: 15px;
    margin-bottom: 33px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2) {
}

.todo ul {
    margin: 0;
    list-style-type: none;
}

.todo li {
    background: #34495e 92% center no-repeat;
    background-size: 20px 20px;
    cursor: pointer;
    margin-top: 2px;
    padding: 18px 42px 17px 25px;
    position: relative;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    -webkit-backface-visibility: hidden;
}

.todo li:first-child {
    margin-top: 0;
}

.todo li:last-child {
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    padding-bottom: 18px;
}

footer {
    background-color: #edeff1;
    color: #bac1c8;
    font-size: 15px;
    padding: 0;
}

footer a {
    color: #9aa4af;
    font-weight: 700;
}

footer p {
    font-size: 15px;
    line-height: 20px;
}

.footer-title {
    margin: 0 0 22px;
    padding-top: 21px;
}

.footer-brand img {
    width: 216px;
}

.footer-banner {
    background-color: #E74C3C;
    color: #fff;
    margin-left: 42px;
    min-height: 286px;
    padding: 0 30px 30px;
}

.footer-banner .footer-title {
    color: #fff;
}

.footer-banner a {
}

.footer-banner a:hover {
    text-decoration: none;
}

.footer-banner ul {
    list-style-type: none;
    margin: 0 0 26px;
}

.footer-banner ul li {
    border-top: 1px solid #C0392B;
    line-height: 19px;
    padding: 6px 0;
}

.footer-banner ul li:first-child {
    border-top: none;
    padding-top: 1px;
}

.vjs-control div {
    background: no-repeat center center;
}

.vjs-play-control div {
    position: relative;
    height: 47px;
}

.vjs-play-control div:before,
.vjs-play-control div:after {
    position: absolute;
    font-family: "Flat-UI-Icons", serif;
    color: #1abc9c;
    font-size: 16px;
    top: 50%;
    left: 50%;
    margin: -0.55em 0 0 -0.5em;
    -webkit-transition: color .25s, opacity .25s;
    -moz-transition: color .25s, opacity .25s;
    -o-transition: color .25s, opacity .25s;
    transition: color .25s, opacity .25s;
    -webkit-backface-visibility: hidden;
}

.vjs-play-control div:after {
    content: "\e03b";
}

.vjs-play-control div:before {
    content: "\e03c";
}

.vjs-paused .vjs-play-control:hover div:before {
    color: #16a085;
}

.vjs-paused .vjs-play-control div:after {
    opacity: 0;
    filter: alpha(opacity=0);
}

.vjs-paused .vjs-play-control div:before {
    opacity: 1;
    filter: alpha(opacity=100);
}

.vjs-playing .vjs-play-control:hover div:after {
    color: #16a085;
}

.vjs-playing .vjs-play-control div:after {
    opacity: 1;
    filter: alpha(opacity=100);
}

.vjs-playing .vjs-play-control div:before {
    opacity: 0;
    filter: alpha(opacity=0);
}

.vjs-rewind-control div {
    width: 19px;
    height: 16px;
    background: none transparent;
    margin: .5em auto 0;
}

.vjs-mute-control:hover div,
.vjs-mute-control:focus div {
    opacity: 0;
}

.vjs-mute-control div {
    background: #273747 no-repeat center 2px;
    background-size: 16px 64px;
    height: 18px;
    -webkit-transition: opacity 0.25s;
    -moz-transition: opacity 0.25s;
    -o-transition: opacity 0.25s;
    transition: opacity 0.25s;
    -webkit-backface-visibility: hidden;
}

.vjs-fullscreen-control:hover div,
.vjs-fullscreen-control:focus div {
    opacity: 0;
}

.vjs-fullscreen-control div {
    height: 18px;
    background-size: 15px 64px;
    -webkit-transition: opacity 0.25s;
    -moz-transition: opacity 0.25s;
    -o-transition: opacity 0.25s;
    transition: opacity 0.25s;
    -webkit-backface-visibility: hidden;
}

.login-icon > img {
    display: block;
    margin-bottom: 6px;
    width: 100%;
}

.login-icon > h4 {
    font-size: 17px;
    font-weight: 200;
    line-height: 34px;
    opacity: 0.95;
    filter: alpha(opacity=95);
}

.login-icon > h4 small {
    color: inherit;
    display: block;
    font-size: inherit;
    font-weight: 700;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2) {
}